<!--footer Start-->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="/images/whitelogo.png" alt="">
                            </a>
                        </div>
                        <p>1135 - 11th floor, Sun Gravitas, <br>Nr. Shyamal Cross Road, 380015<br>Ahmedabad, India <br>
                            <a href="#">+91 851111 7891</a> <br>
                            <a href="#">dejavuoutdoors@gmail.com</a>
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li><a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a href="https://www.youtube.com/watch?v=56-u7Pv-cQg" target="_blank" rel="nofollow noopener"> <i class="fa fa-youtube-play"></i> </a></li>
                                <li><a href="https://www.facebook.com/dejavutours.in" target="_blank" rel="nofollow noopener"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="https://twitter.com/dejavutours_in" target="_blank" rel="nofollow noopener"> <i class="fa fa-twitter"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Deja-Vu Tours
                        </h3>
                        <ul class="links">
                            <li><a href="/upcomingtrips">Upcoming Trips</a></li>
                            <li><a href="#">Travel Stories</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
              <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Customise Tours & Treks
                        </h3>
                        <ul class="links double_links">
                            <li><a href="/filters/Gujarat">Gujarat</a></li>
                            <li><a href="/filters/Maharashtra">Maharashtra</a></li>
                            <li><a href="/filters/Himalayan">Himalayas</a></li>
                            <li><a href="/filters/Rajasthan">Rajasthan </a></li>
                            <li><a href="/filters/North-East">North-East </a></li>
                            <li><a href="/filters/South-India">South-India </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Instagram
                        </h3>
                        <div class="instagram_feed">
                            <div class="single_insta">
                                <a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener">
                                    <img src="/img/instagram/ig1.jpeg" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener">
                                    <img src="/img/instagram/ig2.jpeg" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener">
                                    <img src="/img/instagram/ig3.jpeg" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener">
                                    <img src="/img/instagram/ig4.jpeg" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener">
                                    <img src="/img/instagram/ig5.jpeg" alt="">
                                </a>
                            </div>
                            <div class="single_insta">
                                <a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener">
                                    <img src="/img/instagram/ig6.jpeg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Deja-vu Outdoors Pvt. Ltd | <a href="images/Privacy_Policy.pdf"> Privacy Policy </a>| <a href="images/Terms.pdf"> disclaimer</a> | <a href="images/Booking_Policy.pdf"> Booking and Cancellation </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->
