<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../partials/headtag'); %>
</head>

<body>
    <%- include('../partials/header'); %>

       <!-- bradcam_area  -->
       <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                        <p>experience the heart of local</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

<!-- About us area start-->

<div class="about_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3>Who we are</h3>
                </div>
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>"Deja-vu tours treks and Travel" is started with the idea of combining traditional leisure tours and adventure travel experience at same place, where exploring different culture, local accommodation, delicious homemade food, trekking, adventure sports and some not for tourist places make the whole travel experience unique.</p>
                            <p>We are a group of experienced travellers, who are aimed to provide well-crafted travel and tour experience across India.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="travel_variation_area">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                 <div class="section_title text-center mb_70">
                    <h3>Our Excellence</h3>
                    <p>our Excellence</p>
                 </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>Accommodation & Food</h3>
                        <p>We ensure comfortable and hygienic accommodation at selected Homestays and Campsites. We serve home cooked food. As a travellers, we are open to experiment with local causines. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>Adventure & Leisure</h3>
                        <p>Our well crafted itinery will combine the experience of traditional leisure tour and Adventure travel at the same place. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>Small group More Comfort</h3>
                        <p> We always prefer to have small group, this ensures individual's Experience, comfort and Safety. </p>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="travel_variation_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center mb_70">
                            <h3>Our services</h3>
                            <p>our services</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_travel text-center">
                            <div class="icon">
                                <img src="img/svg_icon/1.svg" alt="">
                            </div>
                            <h3>Fix Departure Tours & Trek</h3>
                            <p>We have pre-planned schedule for fix departure group trips at various destinations round the year. There is multiple options available as per interests and bucket list. Here travellers come from different cities, age groups, professions and culture joins together. Our group size stays limited to 10 to 25 members, so that we can provide personalised experience to individual.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_travel text-center">
                            <div class="icon">
                                <img src="img/svg_icon/2.svg" alt="">
                            </div>
                            <h3>Customise Packages</h3>
                            <p>Well, If you are planning to go out on trip/tours with your own group of your friends and family, If you want to customise your travel experience, we are certainly best at this point. We can personalise your travel experience as per convenience</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_travel text-center">
                            <div class="icon">
                                <img src="img/svg_icon/3.svg" alt="">
                            </div>
                            <h3>Deja-vu accomodation</h3>
                            <p>Our specially identified local accommodation and delicious food are key ingredients in providing such travel experience. We can understand your travel desire if you want to drive by yourself using your own vehicle or explore places with local transportation, we will help out find such beautiful and unique stay.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

 <!-- testimonial_area  -->
 <div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Experiential and offbeat trip(Rann of Kutch).Lesser known locations added to the iternary is the highlight .Good flexibility in the iternary along with supportive and considerate trip leader(Chintan) and his support team makes it an amazing experience...</p>
                                    <div class="testmonial_author">
                                        <h3>- Pooja Gund, Mumbai</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"I have travelled Matheran, Kutch, Dang and Bakor with DejaVu tours. I must say that everytime my experience was unique. It gives chance to feel the nature. At Kutch they have provided accomodation and food with local in traditional"Bhunga" and that was amazing.
                                    </p>
                                    <div class="testmonial_author">
                                        <h3>- Harshal, Ahmedabad</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Relieve your dejavu moment with Dejavu tours & travels that really makes sure you end up with lifetime memories and smile on face. Getting a personal touch in such packaged tours is rare and Dejavu is an example for quality service.</p>
                                    <p>The itinerary is just introduction but what you experience is beyond be it and much more! Kutch is beautiful place and with quality stay and services the experience is awesome. The traditional huts & food give ethinical touch to your stay. People of Kutch are so warm and welcoming.</p>
                                    <div class="testmonial_author">
                                        <h3>- Shruti Mehta, Ahmedabad</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

<!-- About Us area End--> 

<!--Join our team-->
<div class="about_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3>Join Our team and Deja-vu Associate Community</h3>
                </div>
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>"We are a growing community of passionate travellers, explorers and nature lovers, who are professionally working in a different sector but travel as a hobby, bring us together.</p>
                                    <p>Some of us are mountaineer, trekkers, tour guide and photographers who are indulged in the field, they lead and guide group of traveller on various events.</p>
                                    <p>There are some professional who are associated with IT, Educational, Engineering and Management field, are a frequent traveller, and now organize and lead different trip with a passion.</p>
                                    <p>Homestays and Campsites owners, Local guides and our core team members are the backbone of the community, helping us providing satisfactory experience to every traveller.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/join our team-->

    <%- include('../partials/footer'); %>
    <%- include('../partials/scripttag'); %>
</body>

</html>