<html>
	<head>
		<%- include('../partials/headtag'); %>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	</head>
	<body>
		<%- include('../partials/header'); %>
        <h1>PROFILE</h1>
		<%- include('../partials/footer'); %>
    	<%- include('../partials/scripttag'); %>
	</body>
</html>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

